<%@ Language=JavaScript%>
<HTML>
<HEAD>
<META name=VI60_defaultClientScript content=JavaScript>
<META NAME="GENERATOR" Content="Microsoft Visual Studio 6.0">
<TITLE>Rockey IV Sample (JavaScript)</TITLE>
<OBJECT classid="clsid:3E0B4E78-EB6C-11D3-B6BF-0000E840043D" id=RockeyCtrl style="LEFT: 0px; TOP: 0px">
	<PARAM NAME="_Version" VALUE="65536">
	<PARAM NAME="_ExtentX" VALUE="2646">
	<PARAM NAME="_ExtentY" VALUE="1323">
	<PARAM NAME="_StockProps" VALUE="0"></OBJECT>
<SCRIPT ID=clientEventHandlersJS LANGUAGE=javascript>
<!--
function window_onload() {
	var errCode;
	errCode = RockeyCtrl.SetIniPath();
}

function uid_onclick() {
	var errCode;
	var bhasRockey;
  RockeyCtrl.P1 = -15284;
  RockeyCtrl.P2 = -14088;
  RockeyCtrl.P3 = 0;
  RockeyCtrl.P4 = 0;
  errCode = RockeyCtrl.Rockey(1);
	if (!errCode == 0)
	{
		bHasRockey = false;
		RockeyText.innerText = RockeyCtrl.ErrToStr(errCode);
	}
	else
	{
		bHasRockey = true;
		RockeyText.innerText = "Found NetROCKEY4ND, HID: " + RockeyCtrl.Lp1;
	}
	if(bHasRockey){
		RockeyCtrl.Lp2 = 0;
		errCode = RockeyCtrl.Rockey(3);		//RY_OPEN
    if (!errCode == 0)
    {
        ReadText.innerText = "Open dongle error, code:" + errCode;
        RockeyCtrl.Rockey(4);
        return;
    }
    RockeyCtrl.Lp1 = 0;
    errCode = RockeyCtrl.Rockey(10);		//RY_READ
    if (!errCode == 0)
    {
        uidText.innerText = "Read dongle UID error, code: " + errCode;
        RockeyCtrl.Rockey(4);
        return;
    } else {
    		uidText.innerText = "Read dongle UID: " + RockeyCtrl.Lp1;
    		RockeyCtrl.Rockey(4);
    		return;
    }
    RockeyCtrl.Rockey(4);
	}
}


function read_onclick() {
	var errCode;
	var bhasRockey;
  RockeyCtrl.P1 = -15284;
  RockeyCtrl.P2 = -14088;
  RockeyCtrl.P3 = 0;
  RockeyCtrl.P4 = 0;
  errCode = RockeyCtrl.Rockey(1);
	if (!errCode == 0)
	{
		bHasRockey = false;
		RockeyText.innerText = RockeyCtrl.ErrToStr(errCode);
	}
	else
	{
		bHasRockey = true;
		RockeyText.innerText = "Found NetROCKEY4ND, HID: " + RockeyCtrl.Lp1;
	}
	if(bHasRockey){
		RockeyCtrl.Lp2 = 0;
		errCode = RockeyCtrl.Rockey(3);		//RY_OPEN
    if (!errCode == 0)
    {
        ReadText.innerText = "Open dongle error, code:" + errCode;
        RockeyCtrl.Rockey(4);
        return;
    }
    RockeyCtrl.P1 = 0;
    RockeyCtrl.P2 = 10;
    errCode = RockeyCtrl.Rockey(5);		//RY_READ
    if (!errCode == 0)
    {
        ReadText.innerText = "Read dongle user memory error, code: " + errCode;
        RockeyCtrl.Rockey(4);
        return;
    } else {
    		ReadText.innerText = "Read dongle user memory: " + RockeyCtrl.Buffer;
    		RockeyCtrl.Rockey(4);
    		return;
    }
    RockeyCtrl.Rockey(4);
	}
}

function calculate1_onclick() {
	var errCode;
	var bhasRockey;
  RockeyCtrl.P1 = -15284;
  RockeyCtrl.P2 = -14088;
  RockeyCtrl.P3 = 0;
  RockeyCtrl.P4 = 0;
  errCode = RockeyCtrl.Rockey(1);
	if (!errCode == 0)
	{
		bHasRockey = false;
		RockeyText.innerText = RockeyCtrl.ErrToStr(errCode);
	}
	else
	{
		bHasRockey = true;
		RockeyText.innerText = "Found NetROCKEY4ND, HID: " + RockeyCtrl.Lp1;
	}
	if(bHasRockey){
		RockeyCtrl.Lp2 = 0;
		errCode = RockeyCtrl.Rockey(3);		//RY_OPEN
    if (!errCode == 0)
    {
        ReadText.innerText = "Open dongle error, code:" + errCode;
        RockeyCtrl.Rockey(4);
        return;
    }
    RockeyCtrl.Lp1 = 0;
    RockeyCtrl.Lp2 = 0;
    RockeyCtrl.P1 = 1;
    RockeyCtrl.P2 = 2;
    RockeyCtrl.P3 = 3;
    RockeyCtrl.P4 = 4;
    errCode = RockeyCtrl.Rockey(14);		//RY_READ
    if (!errCode == 0)
    {
        calculate1Text.innerText = "Calculate1 error, code: " + errCode;
        RockeyCtrl.Rockey(4);
        return;
    } else {
    		calculate1Text.innerText = "Calculate1 succeed," + " p1="+ RockeyCtrl.P1 + " p2="+ RockeyCtrl.P2 + " p3="+ RockeyCtrl.P3 + " p4="+ RockeyCtrl.P4;
    		RockeyCtrl.Rockey(4);
    		return;
    }
    RockeyCtrl.Rockey(4);
	}
}

function calculate(){			//please see sample for VbScript
	window.alert("please see sample for VbScript");
}
//-->
</SCRIPT>

</HEAD>
<BODY LANGUAGE=javascript onload="return window_onload()">
<P>&nbsp;</P>
<P>Info: <span id=RockeyText></span></P>
<INPUT id=uid name=uid type=button value="Read UID" LANGUAGE=javascript onclick="return uid_onclick()"></P>
<P>UID: <span id=uidText></span></P>
<INPUT id=read name=read type=button value="Read User Memory" LANGUAGE=javascript onclick="return read_onclick()"></P>
<P>Memory: <span id=ReadText></span></P>
<INPUT id=calculate1 name=calculate1 type=button value="Calculate1" LANGUAGE=javascript onclick="return calculate1_onclick()">
<P></P>
<P>Calculate1: <span id=calculate1Text></span></P>
</BODY>
</HTML>
